Set up SQL database.

In [1]:
print("Installing SQLAlchemy...")
%pip install SQLAlchemy
print("SQLAlchemy installed successfully.")

Installing SQLAlchemy...
Requirement already satisfied: SQLAlchemy in /usr/local/lib/python3.12/dist-packages (2.0.44)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.12/dist-packages (from SQLAlchemy) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.12/dist-packages (from SQLAlchemy) (4.15.0)
SQLAlchemy installed successfully.

Connect to Database.

In [2]:
import sqlite3

try:
    # Connect to a SQLite database (it will be created if it doesn't exist)
    conn = sqlite3.connect('database.db')
    # Create a cursor object
    cursor = conn.cursor()
    print("Successfully connected to the database and created a cursor.")
except sqlite3.Error as e:
    print(f"Error connecting to the database: {e}")

Successfully connected to the database and created a cursor.

Create Tables.

In [4]:
try:
    # Define CREATE TABLE statements
    create_users_table = '''
    CREATE TABLE IF NOT EXISTS users (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        name TEXT NOT NULL,
        email TEXT NOT NULL UNIQUE
    );
    '''
    create_products_table = '''
    CREATE TABLE IF NOT EXISTS products (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        name TEXT NOT NULL,
        price REAL NOT NULL
    );
    '''
    create_login_logs_table = '''
    CREATE TABLE IF NOT EXISTS login_logs (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        user_id INTEGER NOT NULL,
        login_time TEXT NOT NULL,
        ip_address TEXT,
        success INTEGER NOT NULL,
        FOREIGN KEY (user_id) REFERENCES users (id)
    );
    '''
    create_blocked_users_table = '''
    CREATE TABLE IF NOT EXISTS blocked_users (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        user_id INTEGER NOT NULL UNIQUE,
        blocked_time TEXT NOT NULL,
        reason TEXT,
        FOREIGN KEY (user_id) REFERENCES users (id)
    );
    '''

    # Execute the CREATE TABLE statements
    cursor.execute(create_users_table)
    cursor.execute(create_products_table)
    cursor.execute(create_login_logs_table)
    cursor.execute(create_blocked_users_table)

    # Commit the changes to the database
    conn.commit()
    print("Tables 'users', 'products', 'login_logs', and 'blocked_users' created successfully (if they didn't exist).")

except sqlite3.Error as e:
    print(f"Error creating tables: {e}")
    # Rollback changes if an error occurs
    if conn:
        conn.rollback()

Tables 'users', 'products', 'login_logs', and 'blocked_users' created successfully (if they didn't exist).

Insert simple data.

Define and Insert New User Data.

In [9]:
try:
    # 1. Create a list of tuples, where each tuple represents a new user.
    # Each tuple should contain the user's name and a unique email address.
    new_users_data = [
        ('David Lee', 'david.lee@example.com'),
        ('Emily Chen', 'emily.chen@example.com'),
        ('Frank White', 'frank.white@example.com')
    ]

    # 2. Write an SQL INSERT statement to add these new users into the `users` table,
    # specifying the `name` and `email` columns.
    insert_new_users_query = '''
    INSERT INTO users (name, email) VALUES (?, ?)
    '''

    # 3. Use the `cursor.executemany()` method to execute the INSERT statement with the list of new user data.
    cursor.executemany(insert_new_users_query, new_users_data)

    # 4. Commit the changes to the database using `conn.commit()`.
    conn.commit()
    print(f"Successfully inserted {len(new_users_data)} new users into the 'users' table.")

except sqlite3.Error as e:
    print(f"Error inserting new user data: {e}")
    # Rollback changes if an error occurs
    if conn:
        conn.rollback()

Successfully inserted 3 new users into the 'users' table.

Define and Insert New Product Data.

In [10]:
try:
    # 1. Create a list of tuples, where each tuple represents a new product.
    # Each tuple should contain the product's name and its price.
    new_products_data = [
        ('Monitor', 300.00),
        ('Webcam', 50.00),
        ('Microphone', 80.00)
    ]

    # 2. Write an SQL INSERT statement to add these new products into the `products` table,
    # specifying the `name` and `price` columns.
    insert_new_products_query = '''
    INSERT INTO products (name, price) VALUES (?, ?)
    '''

    # 3. Use the `cursor.executemany()` method to execute the INSERT statement with the list of new product data.
    cursor.executemany(insert_new_products_query, new_products_data);

    # 4. Commit the changes to the database using `conn.commit()`.
    conn.commit()
    print(f"Successfully inserted {len(new_products_data)} new products into the 'products' table.")

except sqlite3.Error as e:
    print(f"Error inserting new product data: {e}")
    # Rollback changes if an error occurs
    if conn:
        conn.rollback()

Successfully inserted 3 new products into the 'products' table.

Define and Insert New Login Log Data.

In [11]:
import datetime

try:
    # 1. Create a list of tuples, where each tuple represents a new login log entry.
    # Ensure user_ids reference existing users. Current user_ids are 1, 2, 3 (from initial insert) and 4, 5, 6 (from new user insert).
    # Using some of these for new logs.
    new_login_logs_data = [
        (1, datetime.datetime.now().strftime('%Y-%m-%d %H:%M:%S'), '192.168.1.10', 1), # User 1, successful login
        (4, datetime.datetime.now().strftime('%Y-%m-%d %H:%M:%S'), '10.0.0.15', 1),  # User 4, successful login
        (2, datetime.datetime.now().strftime('%Y-%m-%d %H:%M:%S'), '172.16.0.20', 0), # User 2, failed login
        (5, datetime.datetime.now().strftime('%Y-%m-%d %H:%M:%S'), '192.168.1.11', 1)  # User 5, successful login
    ]

    # 2. Write an SQL INSERT statement to add these new login logs into the `login_logs` table,
    # specifying the `user_id`, `login_time`, `ip_address`, and `success` columns.
    insert_new_login_logs_query = '''
    INSERT INTO login_logs (user_id, login_time, ip_address, success) VALUES (?, ?, ?, ?)
    '''

    # 3. Use the `cursor.executemany()` method to execute the INSERT statement with the list of new login log data.
    cursor.executemany(insert_new_login_logs_query, new_login_logs_data)

    # 4. Commit the changes to the database using `conn.commit()`.
    conn.commit()
    print(f"Successfully inserted {len(new_login_logs_data)} new login log entries into the 'login_logs' table.")

except sqlite3.Error as e:
    print(f"Error inserting new login log data: {e}")
    # Rollback changes if an error occurs
    if conn:
        conn.rollback()

Successfully inserted 4 new login log entries into the 'login_logs' table.

Define and Insert New Blocked User Data.

In [12]:
import datetime

try:
    # 1. Create a list of tuples, where each tuple represents a new blocked user.
    # Ensure user_ids reference existing users and are not already blocked (user_id 1 is blocked).
    # Available user_ids: 2, 3, 4, 5, 6
    new_blocked_users_data = [
        (2, datetime.datetime.now().strftime('%Y-%m-%d %H:%M:%S'), 'Repeated failed login attempts'),
        (3, datetime.datetime.now().strftime('%Y-%m-%d %H:%M:%S'), 'Violation of terms of service')
    ]

    # 2. Write an SQL INSERT statement to add these new blocked users into the `blocked_users` table,
    # specifying the `user_id`, `blocked_time`, and `reason` columns.
    insert_new_blocked_users_query = '''
    INSERT INTO blocked_users (user_id, blocked_time, reason) VALUES (?, ?, ?)
    '''

    # 3. Use the `cursor.executemany()` method to execute the INSERT statement with the list of new blocked user data.
    cursor.executemany(insert_new_blocked_users_query, new_blocked_users_data)

    # 4. Commit the changes to the database using `conn.commit()`.
    conn.commit()
    print(f"Successfully inserted {len(new_blocked_users_data)} new blocked user entries into the 'blocked_users' table.")

except sqlite3.Error as e:
    print(f"Error inserting new blocked user data: {e}")
    # Rollback changes if an error occurs
    if conn:
        conn.rollback()

Successfully inserted 2 new blocked user entries into the 'blocked_users' table.

Display SQL results in pandas.

Import pandas.

In [13]:
import pandas as pd
print("Pandas imported successfully.")

Pandas imported successfully.

Define SQL to pandas Function.

In [37]:
def fetch_data_to_dataframe(query, params=None):
    """
    Executes an SQL query and returns the results as a pandas DataFrame.
    """
    try:
        # Execute the query and fetch all results
        if params:
            cursor.execute(query, params)
        else:
            cursor.execute(query)
        data = cursor.fetchall()

        # Get column names from cursor description
        columns = [description[0] for description in cursor.description]

        # Create a pandas DataFrame
        df = pd.DataFrame(data, columns=columns)
        print(f"Successfully fetched {len(df)} rows into a DataFrame.")
        return df
    except sqlite3.Error as e:
        print(f"Error executing query or creating DataFrame: {e}")
        return pd.DataFrame() # Return empty DataFrame on error

Display Users Table.

In [15]:
users_df = fetch_data_to_dataframe("SELECT * FROM users;")
print("\nUsers DataFrame:")
print(users_df.head())

Successfully fetched 6 rows into a DataFrame.

Users DataFrame:
   id           name                      email
0   1    Alice Smith    alice.smith@example.com
1   2    Bob Johnson    bob.johnson@example.com
2   3  Charlie Brown  charlie.brown@example.com
3   4      David Lee      david.lee@example.com
4   5     Emily Chen     emily.chen@example.com

Display Products Table.

In [16]:
products_df = fetch_data_to_dataframe("SELECT * FROM products;")
print("\nProducts DataFrame:")
print(products_df.head())

Successfully fetched 6 rows into a DataFrame.

Products DataFrame:
   id      name   price
0   1    Laptop  1200.0
1   2     Mouse    25.5
2   3  Keyboard    75.0
3   4   Monitor   300.0
4   5    Webcam    50.0

Display Login logs Table.

In [17]:
login_logs_df = fetch_data_to_dataframe("SELECT * FROM login_logs;")
print("\nLogin Logs DataFrame:")
print(login_logs_df.head())

Successfully fetched 8 rows into a DataFrame.

Login Logs DataFrame:
   id  user_id           login_time    ip_address  success
0   1        1  2025-11-25 09:43:52   192.168.1.1        1
1   2        2  2025-11-25 09:43:52   192.168.1.2        1
2   3        1  2025-11-25 09:38:52   192.168.1.1        0
3   4        3  2025-11-25 09:43:52      10.0.0.5        1
4   5        1  2025-11-25 09:47:29  192.168.1.10        1

Display Blocked Users Table.

In [18]:
blocked_users_df = fetch_data_to_dataframe("SELECT * FROM blocked_users;")
print("\nBlocked Users DataFrame:")
print(blocked_users_df.head())

Successfully fetched 3 rows into a DataFrame.

Blocked Users DataFrame:
   id  user_id         blocked_time                          reason
0   1        1  2025-11-25 09:44:20    Suspicious activity detected
1   2        2  2025-11-25 09:47:54  Repeated failed login attempts
2   3        3  2025-11-25 09:47:54   Violation of terms of service

Show table structure.

### Display `users` Table Structure

In [19]:
try:
    cursor.execute("SELECT sql FROM sqlite_master WHERE type='table' AND name='users';")
    users_schema = cursor.fetchone()
    if users_schema:
        print("\n--- Users Table Schema ---")
        print(users_schema[0])
    else:
        print("Users table schema not found.")
except sqlite3.Error as e:
    print(f"Error fetching users table schema: {e}")

--- Users Table Schema ---
CREATE TABLE users (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        name TEXT NOT NULL,
        email TEXT NOT NULL UNIQUE
    )

### Display `login_logs` Table Structure

In [20]:
try:
    cursor.execute("SELECT sql FROM sqlite_master WHERE type='table' AND name='login_logs';")
    login_logs_schema = cursor.fetchone()
    if login_logs_schema:
        print("\n--- Login Logs Table Schema ---")
        print(login_logs_schema[0])
    else:
        print("Login Logs table schema not found.")
except sqlite3.Error as e:
    print(f"Error fetching login_logs table schema: {e}")

--- Login Logs Table Schema ---
CREATE TABLE login_logs (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        user_id INTEGER NOT NULL,
        login_time TEXT NOT NULL,
        ip_address TEXT,
        success INTEGER NOT NULL,
        FOREIGN KEY (user_id) REFERENCES users (id)
    )

### Display `blocked_users` Table Structure

In [21]:
try:
    cursor.execute("SELECT sql FROM sqlite_master WHERE type='table' AND name='blocked_users';")
    blocked_users_schema = cursor.fetchone()
    if blocked_users_schema:
        print("\n--- Blocked Users Table Schema ---")
        print(blocked_users_schema[0])
    else:
        print("Blocked Users table schema not found.")
except sqlite3.Error as e:
    print(f"Error fetching blocked_users table schema: {e}")

--- Blocked Users Table Schema ---
CREATE TABLE blocked_users (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        user_id INTEGER NOT NULL UNIQUE,
        blocked_time TEXT NOT NULL,
        reason TEXT,
        FOREIGN KEY (user_id) REFERENCES users (id)
    )

View all login logs

In [22]:
all_login_logs_df = fetch_data_to_dataframe("SELECT * FROM login_logs;")
print("\nAll Login Logs DataFrame:")
print(all_login_logs_df)

Successfully fetched 8 rows into a DataFrame.

All Login Logs DataFrame:
   id  user_id           login_time    ip_address  success
0   1        1  2025-11-25 09:43:52   192.168.1.1        1
1   2        2  2025-11-25 09:43:52   192.168.1.2        1
2   3        1  2025-11-25 09:38:52   192.168.1.1        0
3   4        3  2025-11-25 09:43:52      10.0.0.5        1
4   5        1  2025-11-25 09:47:29  192.168.1.10        1
5   6        4  2025-11-25 09:47:29     10.0.0.15        1
6   7        2  2025-11-25 09:47:29   172.16.0.20        0
7   8        5  2025-11-25 09:47:29  192.168.1.11        1

Delete users who have more than 5 failed attempts.

In [23]:
try:
    # SQL query to count failed login attempts for each user and identify users with more than 5 failed attempts
    query = """
    SELECT user_id
    FROM login_logs
    WHERE success = 0
    GROUP BY user_id
    HAVING COUNT(id) > 5;
    """

    cursor.execute(query)
    failed_users_raw = cursor.fetchall()

    # Extract user_ids into a list
    users_with_excessive_failed_attempts = [user[0] for user in failed_users_raw]

    print(f"Users with excessive failed login attempts (more than 5): {users_with_excessive_failed_attempts}")

except sqlite3.Error as e:
    print(f"Error identifying users with excessive failed attempts: {e}")

Users with excessive failed login attempts (more than 5): []

In [24]:
if not users_with_excessive_failed_attempts:
    print("No login log entries need to be deleted as no users have excessive failed attempts.")
else:
    try:
        # Construct placeholders for the IN clause
        placeholders = ', '.join(['?' for _ in users_with_excessive_failed_attempts])

        # SQL DELETE statement to remove login log entries for the identified users
        delete_login_logs_query = f'''
        DELETE FROM login_logs
        WHERE user_id IN ({placeholders})
        '''

        # Execute the DELETE statement
        cursor.execute(delete_login_logs_query, users_with_excessive_failed_attempts)

        # Commit the changes
        conn.commit()
        print(f"Successfully deleted login log entries for user(s): {users_with_excessive_failed_attempts}.")

    except sqlite3.Error as e:
        print(f"Error deleting login log entries: {e}")
        if conn:
            conn.rollback()

No login log entries need to be deleted as no users have excessive failed attempts.

In [25]:
if not users_with_excessive_failed_attempts:
    print("No blocked user entries need to be deleted as no users have excessive failed attempts.")
else:
    try:
        # Construct placeholders for the IN clause
        placeholders = ', '.join(['?' for _ in users_with_excessive_failed_attempts])

        # SQL DELETE statement to remove blocked user entries for the identified users
        delete_blocked_users_query = f'''
        DELETE FROM blocked_users
        WHERE user_id IN ({placeholders})
        '''

        # Execute the DELETE statement
        cursor.executemany(delete_blocked_users_query, users_with_excessive_failed_attempts)

        # Commit the changes
        conn.commit()
        print(f"Successfully deleted blocked user entries for user(s): {users_with_excessive_failed_attempts}.")

    except sqlite3.Error as e:
        print(f"Error deleting blocked user entries: {e}")
        if conn:
            conn.rollback()

No blocked user entries need to be deleted as no users have excessive failed attempts.

In [26]:
if not users_with_excessive_failed_attempts:
    print("No users need to be deleted as no users have excessive failed attempts.")
else:
    try:
        # Construct placeholders for the IN clause
        placeholders = ', '.join(['?' for _ in users_with_excessive_failed_attempts])

        # SQL DELETE statement to remove users from the `users` table
        delete_users_query = f'''
        DELETE FROM users
        WHERE id IN ({placeholders})
        '''

        # Execute the DELETE statement
        cursor.executemany(delete_users_query, [(user_id,) for user_id in users_with_excessive_failed_attempts])

        # Commit the changes
        conn.commit()
        print(f"Successfully deleted user(s): {users_with_excessive_failed_attempts} from the 'users' table.")

    except sqlite3.Error as e:
        print(f"Error deleting users: {e}")
        if conn:
            conn.rollback()

No users need to be deleted as no users have excessive failed attempts.

In [27]:
print("\n--- Updated Users Table ---")
updated_users_df = fetch_data_to_dataframe("SELECT * FROM users;")
print(updated_users_df)

--- Updated Users Table ---
Successfully fetched 6 rows into a DataFrame.
   id           name                      email
0   1    Alice Smith    alice.smith@example.com
1   2    Bob Johnson    bob.johnson@example.com
2   3  Charlie Brown  charlie.brown@example.com
3   4      David Lee      david.lee@example.com
4   5     Emily Chen     emily.chen@example.com
5   6    Frank White    frank.white@example.com

In [28]:
print("\n--- Updated Login Logs Table ---")
updated_login_logs_df = fetch_data_to_dataframe("SELECT * FROM login_logs;")
print(updated_login_logs_df)

--- Updated Login Logs Table ---
Successfully fetched 8 rows into a DataFrame.
   id  user_id           login_time    ip_address  success
0   1        1  2025-11-25 09:43:52   192.168.1.1        1
1   2        2  2025-11-25 09:43:52   192.168.1.2        1
2   3        1  2025-11-25 09:38:52   192.168.1.1        0
3   4        3  2025-11-25 09:43:52      10.0.0.5        1
4   5        1  2025-11-25 09:47:29  192.168.1.10        1
5   6        4  2025-11-25 09:47:29     10.0.0.15        1
6   7        2  2025-11-25 09:47:29   172.16.0.20        0
7   8        5  2025-11-25 09:47:29  192.168.1.11        1

In [29]:
print("\n--- Updated Blocked Users Table ---")
updated_blocked_users_df = fetch_data_to_dataframe("SELECT * FROM blocked_users;")
print(updated_blocked_users_df)

--- Updated Blocked Users Table ---
Successfully fetched 3 rows into a DataFrame.
   id  user_id         blocked_time                          reason
0   1        1  2025-11-25 09:44:20    Suspicious activity detected
1   2        2  2025-11-25 09:47:54  Repeated failed login attempts
2   3        3  2025-11-25 09:47:54   Violation of terms of service

Find the user with most failed login attempts.

In [30]:
try:
    # SQL query to count failed login attempts for each user
    # and identify the user(s) with the maximum number of failed attempts.
    # Group by user_id, order by failed attempt count in descending order, and limit to 1.
    query = """
    SELECT user_id, COUNT(id) AS failed_attempts_count
    FROM login_logs
    WHERE success = 0
    GROUP BY user_id
    ORDER BY failed_attempts_count DESC
    LIMIT 1;
    """

    # Execute the query and store the result in a DataFrame
    most_failed_user_df = fetch_data_to_dataframe(query)

    print("\nUser(s) with the most failed login attempts:")
    print(most_failed_user_df)

except sqlite3.Error as e:
    print(f"Error identifying user with most failed attempts: {e}")

Successfully fetched 1 rows into a DataFrame.

User(s) with the most failed login attempts:
   user_id  failed_attempts_count
0        2                      1

In [31]:
try:
    # Extract the user_id of the user with the most failed attempts
    # Check if most_failed_user_df is not empty
    if not most_failed_user_df.empty:
        most_failed_user_id = most_failed_user_df['user_id'].iloc[0]
        failed_attempts_count = most_failed_user_df['failed_attempts_count'].iloc[0]

        # SQL query to get user details (name and email) from the 'users' table
        # for the identified user.
        query_user_details = f'''
        SELECT id, name, email
        FROM users
        WHERE id = {most_failed_user_id};
        '''

        # Execute the query and store the result in a DataFrame
        user_details_df = fetch_data_to_dataframe(query_user_details)

        print(f"\nDetails for user with {failed_attempts_count} failed attempts:")
        if not user_details_df.empty:
            print(user_details_df)
        else:
            print("User details not found.")

    else:
        print("No user found with failed login attempts.")

except sqlite3.Error as e:
    print(f"Error fetching user details: {e}")

Successfully fetched 1 rows into a DataFrame.

Details for user with 1 failed attempts:
   id         name                    email
0   2  Bob Johnson  bob.johnson@example.com

Show high-risk users(failed_attempts>3)

In [32]:
try:
    # SQL query to count failed login attempts for each user
    # and identify users with more than 3 failed attempts.
    query_high_risk_users = '''
    SELECT user_id, COUNT(id) AS failed_attempts_count
    FROM login_logs
    WHERE success = 0
    GROUP BY user_id
    HAVING COUNT(id) > 3;
    '''

    # Execute the query and store the result in a DataFrame
    high_risk_users_df = fetch_data_to_dataframe(query_high_risk_users)

    print("\nHigh-Risk Users (more than 3 failed login attempts):")
    print(high_risk_users_df)

except sqlite3.Error as e:
    print(f"Error identifying high-risk users: {e}")

Successfully fetched 0 rows into a DataFrame.

High-Risk Users (more than 3 failed login attempts):
Empty DataFrame
Columns: [user_id, failed_attempts_count]
Index: []

Display High-Risk Users.

In [33]:
if high_risk_users_df.empty:
    print("No high-risk users found (no users with more than 3 failed login attempts).")
    high_risk_users_details_df = pd.DataFrame() # Initialize empty for consistency
    final_high_risk_users_df = pd.DataFrame() # Initialize empty for consistency
else:
    # Extract user_ids from high_risk_users_df
    high_risk_user_ids = high_risk_users_df['user_id'].tolist()

    # Construct an SQL query to select id, name, and email from the users table
    placeholders = ', '.join(['?' for _ in high_risk_user_ids])
    query_user_details = f'''
    SELECT id, name, email
    FROM users
    WHERE id IN ({placeholders})
    '''

    # Execute the query and store the result in a new DataFrame
    high_risk_users_details_df = fetch_data_to_dataframe(query_user_details, high_risk_user_ids)

    # Merge high_risk_users_df and high_risk_users_details_df
    final_high_risk_users_df = pd.merge(
        high_risk_users_df,
        high_risk_users_details_df,
        left_on='user_id',
        right_on='id',
        how='inner'
    )

    print("\nComplete details for high-risk users:")
    print(final_high_risk_users_df)

No high-risk users found (no users with more than 3 failed login attempts).

Total logins per user(GROUP BY)

In [34]:
try:
    # SQL query to count total login attempts for each user
    query_total_logins = '''
    SELECT user_id, COUNT(id) AS total_logins
    FROM login_logs
    GROUP BY user_id
    ORDER BY total_logins DESC;
    '''

    # Execute the query and store the result in a DataFrame
    total_logins_per_user_df = fetch_data_to_dataframe(query_total_logins)

    print("\nTotal Logins per User:")
    print(total_logins_per_user_df)

except sqlite3.Error as e:
    print(f"Error fetching total logins per user: {e}")

Successfully fetched 5 rows into a DataFrame.

Total Logins per User:
   user_id  total_logins
0        1             3
1        2             2
2        5             1
3        4             1
4        3             1

Average logins per day

In [35]:
try:
    # SQL query to extract the date from login_time, count logins per day,
    # and then calculate the average of these daily counts.
    query_avg_logins_per_day = '''
    SELECT CAST(COUNT(id) AS REAL) / COUNT(DISTINCT DATE(login_time)) AS avg_logins_per_day
    FROM login_logs;
    '''

    # Execute the query and store the result in a DataFrame
    avg_logins_per_day_df = fetch_data_to_dataframe(query_avg_logins_per_day)

    print("\nAverage Logins per Day:")
    print(avg_logins_per_day_df)

except sqlite3.Error as e:
    print(f"Error fetching average logins per day: {e}")

Successfully fetched 1 rows into a DataFrame.

Average Logins per Day:
   avg_logins_per_day
0                 8.0

List logins done from blocked IPs

In [38]:
try:
    # 1. Get user_ids of blocked users
    cursor.execute("SELECT user_id FROM blocked_users;")
    blocked_user_ids = [row[0] for row in cursor.fetchall()]

    if not blocked_user_ids:
        print("No users are currently blocked.")
        blocked_logins_df = pd.DataFrame() # Initialize an empty DataFrame
    else:
        # Construct placeholders for the IN clause
        placeholders = ', '.join(['?' for _ in blocked_user_ids])

        # 2. Query login_logs for entries by blocked users
        query_blocked_logins = f'''
        SELECT id, user_id, login_time, ip_address, success
        FROM login_logs
        WHERE user_id IN ({placeholders});
        '''

        # Execute the query and store the result in a DataFrame
        blocked_logins_df = fetch_data_to_dataframe(query_blocked_logins, blocked_user_ids)

        print("\nLogin logs from blocked users:")
        print(blocked_logins_df)

except sqlite3.Error as e:
    print(f"Error fetching login logs from blocked IPs: {e}")

Successfully fetched 6 rows into a DataFrame.

Login logs from blocked users:
   id  user_id           login_time    ip_address  success
0   1        1  2025-11-25 09:43:52   192.168.1.1        1
1   2        2  2025-11-25 09:43:52   192.168.1.2        1
2   3        1  2025-11-25 09:38:52   192.168.1.1        0
3   4        3  2025-11-25 09:43:52      10.0.0.5        1
4   5        1  2025-11-25 09:47:29  192.168.1.10        1
5   7        2  2025-11-25 09:47:29   172.16.0.20        0

Add a new column: password_strength

In [39]:
try:
    # Add the new column 'password_strength' to the users table
    cursor.execute("ALTER TABLE users ADD COLUMN password_strength TEXT;")
    conn.commit()
    print("Column 'password_strength' added to 'users' table successfully.")
except sqlite3.Error as e:
    print(f"Error adding column to users table: {e}")
    if conn:
        conn.rollback()

Column 'password_strength' added to 'users' table successfully.

In [40]:
try:
    # Define dummy password strength data for existing users
    # Assuming users have IDs 1 through 6
    password_strength_data = [
        ('Strong', 1), # Alice Smith
        ('Medium', 2), # Bob Johnson
        ('Weak', 3),   # Charlie Brown
        ('Strong', 4), # David Lee
        ('Medium', 5), # Emily Chen
        ('Weak', 6)    # Frank White
    ]

    # Update the password_strength column for each user
    update_password_strength_query = '''
    UPDATE users
    SET password_strength = ?
    WHERE id = ?;
    '''
    cursor.executemany(update_password_strength_query, password_strength_data)
    conn.commit()
    print("Password strength data populated successfully.")

except sqlite3.Error as e:
    print(f"Error populating password strength data: {e}")
    if conn:
        conn.rollback()

Password strength data populated successfully.

In [41]:
updated_users_with_strength_df = fetch_data_to_dataframe("SELECT * FROM users;")
print("\nUsers DataFrame with password_strength:")
print(updated_users_with_strength_df.head(10)) # Display more rows to see all updated users

Successfully fetched 6 rows into a DataFrame.

Users DataFrame with password_strength:
   id           name                      email password_strength
0   1    Alice Smith    alice.smith@example.com            Strong
1   2    Bob Johnson    bob.johnson@example.com            Medium
2   3  Charlie Brown  charlie.brown@example.com              Weak
3   4      David Lee      david.lee@example.com            Strong
4   5     Emily Chen     emily.chen@example.com            Medium
5   6    Frank White    frank.white@example.com              Weak

Update password_strength column

In [42]:
try:
    # Define the user ID and the new password strength
    user_id_to_update = 1  # Change this to the ID of the user you want to update
    new_password_strength = 'Very Strong' # Change this to the new password strength

    # SQL UPDATE statement
    update_query = '''
    UPDATE users
    SET password_strength = ?
    WHERE id = ?;
    '''

    # Execute the UPDATE statement
    cursor.execute(update_query, (new_password_strength, user_id_to_update))
    conn.commit()
    print(f"Successfully updated password_strength for user_id {user_id_to_update} to '{new_password_strength}'.")

except sqlite3.Error as e:
    print(f"Error updating password strength: {e}")
    if conn:
        conn.rollback()

Successfully updated password_strength for user_id 1 to 'Very Strong'.

Display of updated column

In [43]:
updated_users_after_specific_change_df = fetch_data_to_dataframe("SELECT * FROM users;")
print("\nUsers DataFrame after specific password_strength update:")
print(updated_users_after_specific_change_df.head(10))

Successfully fetched 6 rows into a DataFrame.

Users DataFrame after specific password_strength update:
   id           name                      email password_strength
0   1    Alice Smith    alice.smith@example.com       Very Strong
1   2    Bob Johnson    bob.johnson@example.com            Medium
2   3  Charlie Brown  charlie.brown@example.com              Weak
3   4      David Lee      david.lee@example.com            Strong
4   5     Emily Chen     emily.chen@example.com            Medium
5   6    Frank White    frank.white@example.com              Weak

Events with above-average login failures

Calculate Average Failed logins per user

In [44]:
try:
    # SQL query to calculate the average number of failed login attempts
    # for users who have at least one failed login.
    query_avg_failed_logins = '''
    SELECT AVG(failed_attempts_count) AS average_failed_logins_per_user
    FROM (
        SELECT user_id, COUNT(id) AS failed_attempts_count
        FROM login_logs
        WHERE success = 0
        GROUP BY user_id
        HAVING COUNT(id) > 0
    ) AS subquery;
    '''

    # Execute the query and store the result in a DataFrame
    avg_failed_logins_df = fetch_data_to_dataframe(query_avg_failed_logins)

    print("\nAverage Failed Logins Per User (for users with at least one failed login):")
    print(avg_failed_logins_df)

except sqlite3.Error as e:
    print(f"Error calculating average failed logins per user: {e}")

Successfully fetched 1 rows into a DataFrame.

Average Failed Logins Per User (for users with at least one failed login):
   average_failed_logins_per_user
0                             1.0

Identify users with above-average failed logins

In [45]:
try:
    # 1. Extract the average_failed_logins_per_user value
    # Check if the DataFrame is empty or if the column doesn't exist
    if not avg_failed_logins_df.empty and 'average_failed_logins_per_user' in avg_failed_logins_df.columns:
        average_failed_logins = avg_failed_logins_df['average_failed_logins_per_user'].iloc[0]
    else:
        average_failed_logins = 0 # Default to 0 if no failed logins or DataFrame is empty

    print(f"Calculated average failed logins per user: {average_failed_logins}")

    # 2. and 3. Write an SQL query to count failed login attempts for each user
    # and filter for users whose count exceeds the calculated average.
    query_above_average_failed_logins = f'''
    SELECT user_id, COUNT(id) AS failed_attempts_count
    FROM login_logs
    WHERE success = 0
    GROUP BY user_id
    HAVING failed_attempts_count > {average_failed_logins};
    '''

    # 4. Execute this SQL query and 5. store the result in a DataFrame
    above_average_failed_logins_users_df = fetch_data_to_dataframe(query_above_average_failed_logins)

    print("\nUsers with above-average failed login attempts:")
    print(above_average_failed_logins_users_df)

except sqlite3.Error as e:
    print(f"Error identifying users with above-average failed logins: {e}")
    above_average_failed_logins_users_df = pd.DataFrame() # Ensure DataFrame is initialized even on error

Calculated average failed logins per user: 1.0
Successfully fetched 0 rows into a DataFrame.

Users with above-average failed login attempts:
Empty DataFrame
Columns: [user_id, failed_attempts_count]
Index: []

Display Login Events for Identified users

In [46]:
try:
    # 1. Check if the above_average_failed_logins_users_df DataFrame is empty.
    if above_average_failed_logins_users_df.empty:
        print("No users with above-average failed logins were found, so no login events will be displayed.")
        above_average_failed_logins_events_df = pd.DataFrame() # Initialize an empty DataFrame
    else:
        # 2. Extract the user_ids into a list.
        identified_user_ids = above_average_failed_logins_users_df['user_id'].tolist()
        print(f"Identified users with above-average failed logins: {identified_user_ids}")

        # 3. Construct an SQL query to select all columns from the login_logs table for these user_ids.
        placeholders = ', '.join(['?' for _ in identified_user_ids])
        query_above_average_events = f'''
        SELECT id, user_id, login_time, ip_address, success
        FROM login_logs
        WHERE user_id IN ({placeholders});
        '''

        # 4. and 5. Execute this SQL query and store the result in a new DataFrame.
        above_average_failed_logins_events_df = fetch_data_to_dataframe(query_above_average_events, identified_user_ids)

        # 6. Print a descriptive header and then the DataFrame.
        print("\nLogin events for users with above-average failed login attempts:")
        print(above_average_failed_logins_events_df)

except sqlite3.Error as e:
    print(f"Error retrieving login events for users with above-average failed logins: {e}")
    above_average_failed_logins_events_df = pd.DataFrame() # Ensure DataFrame is initialized even on error

No users with above-average failed logins were found, so no login events will be displayed.

Top 3 users with maximum logins

In [47]:
try:
    # SQL query to count total login attempts for each user and identify the top 3
    query_top_3_logins = '''
    SELECT user_id, COUNT(id) AS total_logins
    FROM login_logs
    GROUP BY user_id
    ORDER BY total_logins DESC
    LIMIT 3;
    '''

    # Execute the query and store the result in a DataFrame
    top_3_users_df = fetch_data_to_dataframe(query_top_3_logins)

    print("\nTop 3 Users with Maximum Logins:")
    print(top_3_users_df)

except sqlite3.Error as e:
    print(f"Error fetching top 3 users with maximum logins: {e}")

Successfully fetched 3 rows into a DataFrame.

Top 3 Users with Maximum Logins:
   user_id  total_logins
0        1             3
1        2             2
2        5             1